* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "url3";
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

@font-face {
    font-family: "url";
    src: url("../fonts/PT_Serif/PTSerif-Italic.ttf");
}

@font-face {
    font-family: "url2";
    src: url("../fonts/Slabo_27px/Slabo27px-Regular.ttf");
}

@font-face {
    font-family: "url3";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}


/*HEADER*/

header {
    background-color: #FFF;
}

header .headerMain {
    display: flex;
}

.headerMain .imgLogo {
    flex-basis: 300px;
}

.headerMain .imgLogo img {
    width: 100%;
}

.headerMain .menuDesktop {
    flex-basis: calc(100% - 300px);
    display: flex;
    justify-content: flex-end;
}

.headerMain .menuDesktop ul {
    display: flex;
    align-items: stretch;
    list-style: none;
    font-family: "url3";
}

.headerMain .menuDesktop ul li {
    display: flex;
    align-items: center;
}

.headerMain .menuDesktop ul li a {
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #014667;
    transition: 0.5s;
    text-decoration: none;
}

.headerMain .menuDesktop ul li a:hover {
    background-color: #014667;
    color: #FFF;
}


/*MOBILE*/

.menuMobile {
    display: none;
    justify-content: flex-end;
    flex-basis: calc(100% - 300px);
    height: auto;
}

.menuMobile span.hamburger {
    list-style: none;
    font-size: 4em;
    color: #000;
    margin: 0px auto;
    height: 100px;
    padding: 10px;
    position: relative;
    top: 66px;
    left: 0;
}

.menuMobile-content {
    list-style: none;
    display: none;
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 99999;
    background-color: #014667;
}

.menuMobile-content li {
    padding: 20px 0px;
    margin: 20px 20px;
    border-bottom: 3px solid rgba(180, 180, 180, 0.5);
    font-family: "url3";
    color: #FFF;
}

.menuMobile-content li a {
    color: #FFF;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.4em;
}

.btn-mobile {
    background-color: #014667;
    border-radius: 10px 0px 0px 0px;
    color: #FFF !important;
}


/*MAINCONTENT*/

.mainContent {
    background-image: url("../imgs/banner/banner1.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 590px;
}

.mainContentDisplay {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
}

.mainContentDisplay h1 {
    width: 100%;
    text-align: center;
    margin: 200px 0 100px 0;
    font-size: 3em;
    color: #FFF;
    font-family: "url3";
    text-shadow: 1px 1px 10px #000;
}

.mainContentDisplay .mainContentDisplayButton {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainContentDisplay .mainContentDisplayButton a {
    padding: 15px 0;
    width: 250px;
    text-align: center;
    margin: 0 10px;
    font-size: 1.5em;
    border: 3px solid #014667;
    background-color: #FFF;
    color: #014667;
    font-family: "url3";
    text-decoration: none;
}

.mainContentDisplay .mainContentDisplayButton a:nth-of-type(2) {
    width: 200px !important;
}

.mainContentDisplay .mainContentDisplayButton a:hover {
    border: 3px solid #FFF;
    background-color: #014667;
    color: #FFF;
}


/*OFFICE*/

section.office .container {
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

section.office .container div {
    flex-basis: calc(100% / 3);
}

.office-content {
    padding: 0 2%;
}

.office-content h1 {
    margin: 350px 0 20px 0;
    font-size: 3.5em;
    font-weight: 900;
    color: #222222;
}

.office-content .wrap-content {
    width: 150px;
    height: 5px;
    background-color: #222222;
}

.office-content-img {
    background-image: url("../imgs/banner/office-edit2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.office-content-text {
    padding: 150px 0 0 50px;
}

.office-content-text article:nth-of-type(1) {
    margin-bottom: 50px;
}

.office-content-text article h1 {
    font-size: 1.9em;
    font-weight: 900;
}

.office-content-text article p {
    font-size: 0.9em;
    line-height: 25px;
    margin-top: 20px;
}


/*CONTACT HOME*/

section.contact-home {
    background-image: url("../imgs/banner/office-edit3.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 80px;
}

section.contact-home .container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}

.contact-address {
    flex-basis: 50%;
    padding: 0 50px 0 0;
    margin-bottom: 50px;
}

.contact-address .address-text {
    margin-bottom: 80px;
}

.contact-address .address-text .address-title,
.address-map .address-title {
    display: flex;
    flex-direction: row;
}

.address-title,
.address-map .address-title {
    margin-bottom: 50px;
}

.address-title h1 {
    flex-basis: 120px;
    font-size: 1.1em;
    color: #FFF;
    font-family: "url2";
}

.address-title span {
    flex-basis: calc(100% - 120px);
    height: 1px;
    background-color: #ccc;
    position: relative;
    top: 12px;
    left: 0;
}

.contact-us {
    flex-basis: 50%;
}

.icon-location,
.icon-phone,
.icon-mail2 {
    color: #FFF;
}

.address-location,
.address-tel,
.address-email {
    display: flex;
}

.address-location p {
    color: #222222;
    font-size: 0.7em;
    font-weight: 100;
    background-color: #FFF;
    text-align: justify;
    line-height: 24px;
    padding: 1px 2px;
}

.address-tel,
.address-email {
    margin: 30px 0;
}

.address-tel p,
.address-email p {
    color: #FFF;
    font-size: 1em;
}


/*contactMap*/

.map {
    padding: 5px;
    height: 230px;
}

.address-map .address-title h1 {
    flex-basis: 100px;
    font-size: 1.1em;
    color: #FFF;
    font-family: "url2";
}

.address-map .address-title span {
    flex-basis: calc(100% - 100px);
    height: 1px;
    background-color: #ccc;
    position: relative;
    top: 12px;
    left: 0;
}


/*FORMULARIO HOME*/

.contact-us form {
    margin: 0 auto;
    border-radius: 8px;
    height: 630px;
    width: 80%;
    padding: 0 25px;
    background-color: #222222;
}

.contact-us form h1 {
    text-align: center;
    color: #FFF;
    padding: 50px;
    font-family: "url2";
}

.input-w100 {
    display: flex;
    flex-direction: column;
}

.input-w100 label {
    color: rgb(70, 69, 69);
}

.input-w100 b {
    color: red;
}

.input-w100 input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    outline: none;
}

.input-w100 textarea {
    margin: 10px 0 50px 0;
    height: 100px;
    resize: none;
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
}

.input-w100 button {
    border: none;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.input-w100 button:hover {
    border: 3px solid #014667;
    background-color: #222222;
    color: #FFF;
    font-weight: 900;
}


/*SOBRE*/

.mainContentAbout {
    background-image: url("../imgs/banner/banner-sobre3.jpg");
    background-position: 100% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.about-content {
    padding: 0 2%;
    margin-top: 50px;
}

.about-content .container .about-content-box {
    display: flex;
    flex-direction: row;
}

.about-content-box .box-img {
    flex-basis: 50%;
}

.box-img img {
    width: 90%;
    height: 700px;
}

.box-desc {
    flex-basis: 50%;
    margin-top: 5%;
}

.box-desc h1 {
    font-size: 2em;
    margin-bottom: 30px;
}

.box-desc p {
    line-height: 24px;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 0.9em;
}


/*VISION*/

.vision {
    background-color: #100f0e;
    padding: 20px;
    margin-top: 80px;
    height: 100%;
    width: 100%;
}

.vision .vision-content {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.vision .vision-content article {
    flex-basis: calc(100% / 3 - 20px);
    border-radius: 8px;
    background-color: #14141e;
}

.box-icon {
    padding: 20px;
    width: 85px;
    border-radius: 50px;
    margin: 20px auto;
    border: 1px solid #ccc;
    text-align: center;
}

.box-icon span {
    font-size: 2em;
    color: #ccc;
}

.icon-hammer2::before,
.icon-eye::before,
.icon-shield::before {
    margin-right: 0px !important;
}

.mission-box h1,
.vision-box h1 {
    text-align: center;
    margin: 20px 0;
    color: #FFF;
}

.mission-box p,
.vision-box p {
    padding: 20px 50px;
    text-align: center;
    color: #FFF;
    font-weight: 300;
}

.vision-box ul {
    list-style: none;
    padding: 20px;
}

.vision-box ul li {
    padding: 10px;
    color: #FFF;
}


/*FOOTER*/

footer .container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}

footer .container p {
    color: #222222;
    font-size: 0.8em;
}


/*MOBILE*/


/*874em*/

@media (max-width:54em) {
    section.office .container div {
        flex-basis: 100%;
    }
    .office-content {
        padding: 50px;
        text-align: center;
    }
    .office-content h1 {
        margin: 20px 0;
        font-size: 3.5em;
        font-weight: 900;
        color: #222222;
    }
    .office-content .wrap-content {
        margin: 0 auto;
    }
    .office-content-img {
        height: 500px;
    }
    .office-content-text {
        margin: 30px 0 80px 0;
        padding: 20px;
    }
    .office-content-text {
        text-align: center;
    }
    .office-content-text p {
        text-align: justify;
    }
    /*CONTACT HOME*/
    section.contact-home {
        width: 100%;
        padding: 30px 2%;
    }
    section.contact-home .container {
        flex-direction: column;
    }
    .address-location p {
        width: 100%;
    }
    .contact-address {
        flex-basis: 100%;
        padding: 0 10px;
    }
    .contact-us {
        flex-basis: 100%;
    }
    .contact-us form {
        width: 100%;
    }
    .contact-us form h1 {
        padding: 50px 20PX;
    }
    /*ABOUT*/
    .mainContentAbout {
        background-image: url("../imgs/banner/banner-sobre3.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
    }
    .about-content .container .about-content-box {
        display: flex;
        flex-direction: column;
    }
    .about-content-box .box-img {
        flex-basis: 100%;
        text-align: center;
    }
    .box-img img {
        width: 80%;
        height: 600px;
    }
    .box-desc {
        flex-basis: 100%;
        margin: 20% 0 10% 0;
    }
    .box-desc h1 {
        font-size: 2em;
        margin-bottom: 30px;
        text-align: center;
    }
    .box-desc p {
        line-height: 24px;
        margin-bottom: 15px;
        text-align: justify;
        font-size: 1em;
        padding: 0 2%;
    }
    .vision .vision-content {
        display: flex;
        flex-direction: column;
    }
    .vision .vision-content article {
        flex-basis: 100%;
        margin: 20px 0;
    }
    .vision-box ul {
        width: 90%;
        margin: 0 auto;
    }
    /*FOOTER*/
    footer .container {
        padding: 50px 2%;
    }
}


/*700px*/

@media (max-width:44em) {
    .headerMain .menuDesktop {
        display: none;
    }
    .headerMain .menuMobile {
        display: flex;
    }
    .mainContentDisplay h1 {
        font-size: 2.5em;
        margin: 100px 0 50px 0;
    }
    .mainContentDisplay .mainContentDisplayButton a {
        flex-basis: 90%;
        margin: 20px auto;
        text-align: center;
    }
}


/**/

@media (max-width:31em) {
    .box-img img {
        width: 98%;
        height: 600px;
    }
}


/*360px*/

@media (max-width: 23em) {
    .headerMain .imgLogo {
        flex-basis: 250px;
    }
    .menuMobile span.hamburger {
        top: 40px;
        left: 0;
    }
    .menuMobile-content {
        top: 138px;
    }
    .office-content {
        padding: 40px 2%;
        text-align: center;
    }
    .office-content-text article h1 {
        font-size: 1.9em;
    }
    .office-content-text article p {
        font-size: 1em;
    }
    .box-img img {
        width: 98%;
        height: 500px;
    }
}


/*320px*/

@media (max-width: 20em) {
    .menuMobile span.hamburger {
        top: 25px;
        left: 0;
    }
    .menuMobile-content {
        top: 124px;
    }
    .mainContentDisplay h1 {
        font-size: 2.1em;
    }
    .office-content h1 {
        font-size: 3em;
        margin: 10px 0;
    }
    .contact-address .address-text {
        margin-bottom: 60px;
    }
}